<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <title>Recommendation System</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="select-item">Items Available:</label>
                    <select class="form-control selectpicker" id="select-item" data-live-search="true" data-size="7">
                    {% for item in products %}
                        {% if item in assailable %}
                            <option data-icon="glyphicon-ok text-success" value="{{ item }}">{{ item }}</option>
                        {% else %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="radio-inline">
                            <input type="radio" name="strategy" id="strategy1" value="Item2VecStrategy" checked>
                            Word2Vec
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="strategy" id="strategy2" value="AssociationRulesStrategy">
                            Association Rules
                        </label>
                    </div>
                </div>
                <button id="add-btn" type="button" class="btn btn-default">Add to Cart</button>
            </div>
            <div class="col-md-6">
                <div class="thumbnail" style="width: 330px; margin: auto">
                    <div class="caption">
                        <h3>Item Selected</h3>
                    </div>
                    <img id="item-display" style="width: 330px; height: 210px"
                         src="/static/almonds.png/?text=Image cap" alt="Responsive image">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div id="cart-area" style="visibility: hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Cart</div>
                        <table id="cart-table" class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="recommendation-area" style="visibility: hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Recommendation</div>
                        <table id="recommendation-table" class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <button id="open-btn" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#market-map">
                        Open Map
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="market-map" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Path to reach item</h4>
                        </div>
                        <div class="modal-body" style="padding: 0; margin: auto; width: 504px">
                           <img src="/static/market_map.png/?text=Image cap" alt="Responsive image">
                        </div>
                        <div class="modal-footer">
                            <button id="acc-btn" type="button" class="btn btn-primary">Add to Cart</button>
                            <button id="can-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
           integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var checkbox = function(val) {
                return '<input class="form-check-input" type="checkbox" name="recommendation" value="' + val + '">'
            };

            $('#add-btn').click(function() {
                var item = $('#select-item option:selected').text();
                var cart = [item];

                var recommendation = $('#recommendation-table > tbody');

                $('#cart-table > tbody')
                    .find('td').each(function () { cart.push($(this).text()) });
                $.ajax({
                    url: '/recommendation_system',
                    headers: {
                        "Content-Type": "application/json; charset=utf-8",
                        "Cache-Control": "no-cache",
                    },
                    data: JSON.stringify({ cart: cart }),
                    method: 'POST',
                    success: function(response) {
                        recommendation.empty();

                        $("#cart-area").css('visibility', 'visible');

                        $('#cart-table > tbody')
                            .append('<tr><th scope="row">' + cart.length  + '</th><td>' + item + '</td></tr>');

                        if (response['recommendation'].length) {
                            $('#recommendation-area').css('visibility', 'visible');
                            response['recommendation'].forEach(function (item) {
                                recommendation
                                    .append('<tr><th scope="row">' + checkbox(item) + '</th><td>' + item + '</td></tr>')
                            })
                        } else {
                            $('#recommendation-area').css('visibility', 'hidden');
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
           $('input[type="radio"][name="strategy"]').change(function () {
               var strategy = this.value;
               $.ajax({
                   url: '/recommendation_system',
                   headers: {
                        "Content-Type": "application/json; charset=utf-8",
                        "Cache-Control": "no-cache",
                    },
                   data: JSON.stringify({ strategy: strategy }),
                   method: 'PATCH',
                   success: function (response) {
                       console.log(response);
                   },
                   error: function (error) {
                       console.log(error);
                   }
               })
           });
        });
    </script>
    <script type="text/javascript">
        $(function () {
           $('#acc-btn').click(function () {
               var cart =[];

               $('#cart-table > tbody')
                   .find('td').each(function () { cart.push($(this).text()) });

               $('#recommendation-table > tbody')
                   .find('input:checked')
                   .each(function (idx) {
                       $('#cart-table > tbody')
                           .append('<tr><th scope="row">' + (cart.length + idx + 1)  + '</th><td>' + $(this).val() + '</td></tr>');

                       $(this).closest('tr').remove();
               });

               if ($('#recommendation-table > tbody > *').length === 0) {
                   $('#recommendation-area').css('visibility', 'hidden');
               }

               $('#can-btn').trigger('click');
           });
        });
    </script>
    <script type="text/javascript">
        $(function () {
           $('#select-item').on('change', function () {
               var selected = this.value.replace(' ', '_');
               // var srcImage = assailable.indexOf(selected) !== -1 ? selected + '.jpg' : 'IMAGE NOT FOUND.png';

               $('#item-display').attr('src', '/static/' + selected + '.png/?text=Image cap');
           });
        });
    </script>
</body>
</html>